<div class="card text-center mt-5">
  <h5 class="card-title mt-5">Rock Paper Scissors game</h5>
  <div class="card-body">
    <%= form_with url: games_rock_paper_scissors_path, method: :post do |form| %>
      <div class="d-flex justify-content-center">
        <div class="form-group col-md-6">
          <%= form.text_field :player, class: 'form-control', placeholder: 'Enter your *name' %>
          <small class="pt-3">* Leave blank for random choice</small>
          <%= form.hidden_field :move, id: 'move' %>

          <div class="row pt-5">
            <div class="col-4">
              <a href="#" id="Rock">
                <%= image_tag('Rock.png', width: 100) %>
              </a>
            </div>

            <div class="col-4">
              <a href="#" id="Paper">
                <%= image_tag('Paper.png', id: 'paper', width: 100) %>
              </a>
            </div>

            <div class="col-4">
              <a href="#" id="Scissors">
                <%= image_tag('Scissors.png', width: 100) %>
              </a>
            </div>
            <small class="pt-3">* Select your move, or leave empty and let computer deside for you</small>
          </div>

          <%= form.submit "Play", type: "submit", class: "btn btn-primary mt-2" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  initMoveInputs(['Rock', 'Paper', 'Scissors']);
</script>