<nav class="py-2 bg-light border-bottom">
  <div class="container d-flex flex-wrap">
      <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag('https://w7.pngwing.com/pngs/977/162/png-transparent-video-game-game-controllers-gaming-miscellaneous-game-logo-thumbnail.png', height: '30', width: '30')%>
      <% end %>

    <ul class="nav me-auto">
      <li class="nav-item">
        <%= link_to 'Home', root_path, class: 'nav-link link-dark px-2' %>
      </li>
    </ul>
    <ul class="nav">
      <li class="nav-item">
        <%= link_to 'Play games', root_path, class: 'nav-link link-dark px-2' %>
      </li>
      <li class="nav-item">
        <%= link_to 'History', games_path, class: 'nav-link link-dark px-2' %>
      </li>
    </ul>
  </div>
</nav>
